<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Results</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <section class="results">
        <h3>Submitted Info:</h3>
        <p><span class="title">Name:</span><span>@ViewBag.Name</span></p>
        <p><span class="title">Dojo Location:</span><span>@ViewBag.Location</span></p>
        <p><span class="title">Favorite Language:</span><span>@ViewBag.Language</span></p>
        <p><span class="title">Comments:</span><span>@ViewBag.Comments</span></p>
        <a href="/">Go Back</a>
    </section>
</body>
</html>